body {
    /*background-color: #001122;*/
    background-color: #000;
    font-family: 'Roboto';
}

.thumbnail {
    background-color: rgba(255, 255, 255, 0.2);
}

.clickable:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.links-bar {
    color: #999;
    text-shadow: 1px 1px 1px #000;
    font-size: 14px;
}

.links-bar-node {
    color: #FFF;
}