body {
    background-color: #000;
    /*background-color: #FFF;*/
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#thumbnails-container {
    /*position: fixed;*/
    /*background-color: #F00;*/
    width: calc(100% - 66px);
    margin: 0 auto;
    /*border: 2px solid green;*/
}

.thumbnail {
    text-align: center;
    width: calc(25% - 1px);
    line-height: 180px;
    /*-webkit-background-size: 25% 25%;
    -moz-background-size: 25% 25%;
    -o-background-size: 25% 25%;
    background-size: 25% 25%;*/
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    /*display: table-cell;*/
    position: relative;
}

.thumbnail-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*display: inline-block;*/
}
.thumbnail:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.links-bar {
    color: #999;
    /*color: #FFF;*/
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 0.8em;
    position: fixed;
    text-shadow: 1px 1px 1px #000
}

.links-bar a {
    color: white;
    text-decoration: none;
}
.links-bar a:hover {
    text-decoration: underline;;
}

.lb-top {
    top: 0.6em;
}
.lb-bott {
    bottom: 0.6em;
}
.lb-right {
    right: 0.6em;
}
.lb-left {
    left: 0.6em;
}
